<p id="notice"><%= notice %></p>

<h1>Web Scrappings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_scrappings.each do |web_scrapping| %>
      <tr>
        <td><%= link_to 'Show', web_scrapping %></td>
        <td><%= link_to 'Edit', edit_web_scrapping_path(web_scrapping) %></td>
        <td><%= link_to 'Destroy', web_scrapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web Scrapping', new_web_scrapping_path %>
