<!DOCTYPE html>
<html>
  <head>
    <title>BitlaFlashWay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "font-awesome/css/all.css", media:"all" %>
    <%= stylesheet_link_tag "style.css", media:"all" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
